#controller {

  h1 {
    letter-spacing: 0.88px;
    font-size: $appFontSize * 1.5;

    @include small-appWidth {
      font-size: $appFontSize * 1.4;
    }

    @include big-appWidth {
      font-size: $appFontSize * 1.8;
    }
  }

  .info {
    font-size: $appFontSize * .5;
    text-align: right;
  }

  .date {
    font-size: $appFontSize;
    text-align: right;

    @include small-appWidth {
      font-size: $appFontSize * .5;
    }

    @include big-appWidth {
      font-size: $appFontSize * 1.1;
    }
}

  .controller-banner {
    margin-left: -13px;
    position: relative;
    height: 132px;
    background: url("~@/assets/images/controller/banner_announce_fix@2x.png") 0 0 no-repeat;
    background-size: cover;

    @include small-appWidth {
      margin-left: -10px;
      height: 110px;
      background-size: cover;
    }

    @include big-appWidth {
      margin-left: -18px;
      height: 158px;
      background-size: cover;
    }

    .week-day {
      font-size: $appFontSize * 1.3;
      position: absolute;
      top: 1.3rem;
      left: 1.8rem;

      @include small-appWidth {
        font-size: $appFontSize * 1.1;
        top: 1.2rem;
        left: 1.5rem;
      }

      @include big-appWidth {
        font-size: $appFontSize * 1.6;
        top: 1.4rem;
        left: 2rem;
      }
    }

    .ID-num {
      color: $--color-warning;
      font-weight: Bold;
      position: absolute;
      letter-spacing: 0.93px;
      bottom: 1.2rem;
      left: 1.7rem;
      font-size: $appFontSize * 1.5;

      @include small-appWidth {
        bottom: 1.1rem;
        left: 1.5rem;
        font-size: $appFontSize * 1.2;
      }

      @include big-appWidth {
        bottom: 1.5rem;
        left: 2rem;
        font-size: $appFontSize * 1.8;
      }
    }
  }

  .controller-search-form {
    margin-top: .4rem;

    .title {
      margin-bottom: .5rem;

      @include big-appWidth {
        font-size: $appFontSize * 1.2;
      }
    }

    .controller-select {
      width: 48%;
    }

    .mask-type {
      margin-top: 1rem;
      align-items: center;

      .name {
        font-size: $appFontSize * .9;
        margin-right: 12px;
      }
    }

    .el-radio, .el-checkbox {
      margin-right: 12px;
    }

    .el-radio__label, .el-checkbox__label {
      padding-left: 5px;
    }

    .el-radio__input.is-checked+.el-radio__label,
    .el-checkbox__input.is-checked+.el-checkbox__label {
      color: $--color-warning;
    }

    .el-radio__input.is-checked .el-radio__inner,
    .el-checkbox__input.is-checked .el-checkbox__inner {
      border-color: $--color-warning;
      background: $--color-warning;

    }
  }

  .el-divider {
    width: 80%;
    background-color: $--color-info;
    margin: 1.5rem auto;
  }

  .controller-search-filter {
    .title {
      font-size: $appFontSize * 1.2;

      @include big-appWidth {
        font-size: $appFontSize * 1.5;
      }
    }

    .search-icon {
      width: 20px;
      margin: 0 5px;
      transform: translateY(38%);
    }

    .el-checkbox-button--mini .el-checkbox-button__inner {
      border-radius: 26px !important;
      margin: 0 2px;
      padding: 6px 10px;
      border: 1px solid $--color-info;
      font-size: $appFontSize * .8;
    
      @include small-appWidth {
        padding: 4px 6px;
        font-size: $appFontSize * .3;
      }
    
      @include big-appWidth {
        padding: 7px 22px;
        font-size: $appFontSize * 1.1;
      }
    }
    
    .el-radio-button:first-child .el-radio-button__inner,
    .el-checkbox-button:first-child .el-checkbox-button__inner {
      border-left: 1px solid $--color-info;
    }
  }

  .noData {
    margin-top: .8rem;
  }

  .controller-card {
    margin: 1.2rem 6px 6px 0;
    padding: 1rem;
    border-radius: 30px;
    color: inherit;
    box-shadow: 1px 1px 10px #70707029;
    background-color: $--color-white;

    .card-title {
      font-size: $appFontSize * 1.1;
      font-weight: 700;
      margin-right: .5rem;

      @include big-appWidth {
        font-size: $appFontSize * 1.4;
      }
    }

    .card-text {
      font-size: $appFontSize * .8;

      @include big-appWidth {
        font-size: $appFontSize * 1;
        margin-top: .5rem;
      }
    }

    .tip {
      margin-top: 5px;
    }

    .card-content {
      margin-top: .3rem;
    }

    p {
      line-height: 1.3rem;
    }

    .card-icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    img {
      width: 25px;
      height: 25px;
      margin: 0 3px;
      cursor: pointer;

      @include small-appWidth {
      width: 22px;
      height: 22px;
      }
    }

    .card-mask {
      margin-top: 1rem;
    }  

    .update-time {
      text-align: right;
      margin-top: .3rem;
      font-size: $appFontSize * .5;
      color: $--color-primary;
    }
  }
}
