#home {
  position: relative;
  width: 100%;
  height: 100vh;

  .el-drawer {
    padding: 1rem;
    background-color: #F7F7F7;
    overflow-y: auto;
  }

  .drawerOpen {
    margin-top: 5.5rem;
    margin-left: .7rem;
    border-radius: 5px;
  }

  .drawerClose {
    margin-top: 5.5rem;
  }
}