html, body {
  color: $--color-info;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0;
  margin: 0;
}

h1,h2, h3, h6, p {
  margin: 0;
  padding: 0;
}


.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.bg-primary {
  background-color: $--color-primary;
  color: $--color-white;
}

.bg-success {
  background-color: $--color-success;
  color: $--color-white;
}

.mask-show {
  border-radius: 10px;
  padding: .2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .type {
    font-size: $appFontSize * .8;
  }

  .num {
    font-size: $appFontSize * 1.2;
  }

  @include small-appWidth {
    padding: .2rem .8rem;

    .type {
      font-size: $appFontSize * .5;
    }
  
    .num {
      font-size: $appFontSize * 1;
    }
  }

  @include big-appWidth {
    padding: .2rem 2rem;

    .type {
      font-size: $appFontSize * 1;
    }
  
    .num {
      font-size: $appFontSize * 1.3;
    }
  }
}